<!DOCTYPE html>
<html>
  <head>
    <title>Thumbnail Service</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
  </head>
  <body>
    <h1>Welcome to the Thumbnail Service</h1>
    <div id="thumbnails" hx-get="/images-html" hx-trigger="load">
      <span class="htmlx-indicator"></span>
    </div>
    <hr/>

    <div>
      <input 
        type="text" 
        name="tags" 
        placeholder="Enter tags to search..."
        hx-post="/search"
        hx-trigger="input changed delay:500ms, search"
        hx-target="#thumbnails"
      />
    </div>

    </hr>

    <h2>Add an Image</h2>
    <form 
      hx-trigger="submit"
      hx-post="/upload" 
      hx-target="#thumbnails"
      hx-swap="beforeend"
      enctype="multipart/form-data"
    >
      <input type="text" name="tags" value="" placeholder="Tags" />
      <input type="file" name="image" /> 
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
